* {
    margin: 0;
    padding: 0;
}

body {
    background: #3A3E4B;
    padding-top:90px;
}

.brand {
    color: #FF9138;
}

.border-hover {
    border-top: 5px solid transparent;
    transform: translateY(-4px);
}

.border-hover:hover {
    border-top: 5px solid #ff9138;
    transform: translateY(-4px);
}

#sign-in {
    background: #FF9138;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

nav {
    background-color: #3A3E4B;
}


.navbar-toggler {
    border: 3px solid #FF9138;
    color: white;
    font-size: 2rem;
}

.navbar-toggler-icon {
    color: white;
}

.ikonkaMenu {
    color: white;
    font-size: 1.2rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

#nav-length {
    width: 90%;
}


.bocneMenucko {
    z-index: 1;
}


@media screen and (max-width : 992px) {
    #nav-length {
        width: 100%;
    }

    .border-hover {
        border-top: 0;
    }

    .border-hover:hover {
        border-top: 0;
    }

    #sign-in {
        border-radius: 50px;
    }

    .bocneMenucko {
        visibility: hidden;
    }

    .sirkaIkoniekVNave {
        width: 70vw;
    }

    .ikonkaMenu {
        font-size: 1.6rem;
    }

}



/* body section */
.icon-height {
    height: 28px;
    width: 28px;
}

.icon-container {
    background: #FF9138;
}

.dark-background {
    background: #2b3944;
}
#socialWrap {
    border-radius: 0 24px 24px 0;
}


#uvodna_obrazovka {
    background-image: url("/images/uvodna_obrazovka_pozadie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    color: white;
    position: relative;
}

#uvodna_obrazovka::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;  /* Nižšia hodnota ako text */
}

/* Aby bol text nad tmavým prekryvom */
#uvodna_obrazovka > * {
    z-index: 2;  /* Vyššia hodnota ako prekryv */
    position: relative;  /* Aby bol z-index aplikovaný správne */
}

#uvodna_obrazovka .container-fluid {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


